<form action = "/usuario.html" method = "post">
    <section>
        <LABEL>INICIAR SESION</LABEL>
        <p><LABEL for="Correlabel:">Correo: </LABEL></p>
               
        <p><input type="text" name="nombreUserr" placeholder="Ingrese su correo o num. de control" id="id_correo" size="30" maxlenght="50"></p>
        <LABEL for="Correo:">Contraseña: </LABEL>
        <p><input type="Contraseña" name="contra"  placeholder="Contraseña" id="id_contra" size="30" maxlenght="30"></p>
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input type="submit" value="Enviar" />
        <p><a href="registrar.html">¿No tienes cuenta?</a></p>
        <h1>{{Prueba}}</h1>
    
                
    </section>
    <label >Ingresa un dato</label>
    <input type="text" name="nombreUser"><br/>
        
    <input type="submit" value="Enviar" />
</form>
